DATABASE_URL="postgresql://hunter_admin:CHANGE_STRONG_DB_PASSWORD@db:5432/hunter"
NEXTAUTH_SECRET="CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_WITH_32_PLUS_CHARACTERS"
NEXTAUTH_URL="https://slava-hunter.ru"
NODE_ENV="production"
SMS_PROVIDER="none"
SMS_API_KEY=""
POSTGRES_DB="hunter"
POSTGRES_USER="hunter_admin"
POSTGRES_PASSWORD="CHANGE_STRONG_DB_PASSWORD"
APP_PORT="3000"
