DATABASE_URL="postgresql://hunter_admin:hunter_secret_2024@localhost:5432/hunter"
NEXTAUTH_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"
SMS_PROVIDER="none"
SMS_API_KEY=""
SMS_RU_FROM=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_FROM_NUMBER=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
